<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Font-Awesome -->

    <script src="https://kit.fontawesome.com/97132b68f0.js" crossorigin="anonymous"></script>


    <title>AgriCrop</title>
</head>
<style>
    .navbar-nav .nav-item {
        margin-right: 15px;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    .google{
        
            position: absolute;
            top: 10px;
            right: 10px;
        
    }

</style>
<body>
    <!-- nav bar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            AgriCrop
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/predict">Predict</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="google">
                    <div id="google_translate_element"></div>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div id="google_translate_element"></div>
        </div>
    </nav>

    <!--CAROUSEL-->



    <div class="container my-4">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/images/farmer8.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/images/3.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/images/5.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Crop Predictor</h5>
                        <p><b>Predict the type of Crop to be grown</b>
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- blog -->
    <div class="container my-2">
        <!-- main -->

        <div class="row featurette mx-2">
            <div class="col-md-7 my-4">
                <h2 class="featurette-heading">Overview<span class="text-muted"></span></h2>
                <p class="lead">This initiative seeks to transform agriculture by using machine learning to prioritize sustainable crop choices. By inputting soil data, farmers receive personalized recommendations for crops and fertilizers, fostering informed decision-making and advancing technology-driven, sustainable farming practices.</div>
            <div class="col-md-5 my-4">
                <img src="/static/images/farmer5.jpg" class="d-block w-100" alt="..." >
            </div>
        </div>


        <div class="row featurette mx-2">
            <div class="col-md-7 order-md-2 my-3">
                <h2 class="featurette-heading">Parameters<span class="text-muted"></span></h2>
                <p class="lead">
                    Based on the requirements like which kind of soil,weather is best suited for growing a particular crop,what will be the amount of water,N,P,K required for that crop to be grown,what will be the PH for that crop,in what quantity must the chemicals of the soil must be in,such that the crop can sustain more life and has no harm from threats,all these parameters are taken into consideration for building the model,which takes up these parameters and predicts the best type of crop/fruit that the farmer must grow
            </div>
            <div class="col-md-5 order-md-1 my-5">
                <img src="/static/images/farmer2.jpg" height="250" ,width="250" class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="row featurette mx-2">
            <div class="col-md-7 my-4">
                <h2 class="featurette-heading">Start With Us!<span class="text-muted"></span></h2>
                <p class="lead">Let us start by predicting a best suitable crop for you! <br/> <a href="/predict" class="btn btn-primary">Predict &gt;&gt;</a></p></div>
            <div class="col-md-5 my-4">
                <img src="/static/images/farmer6.jpg" class="d-block w-100" alt="..." >
            </div>
        </div>


    </div>

    <footer class="py-3 text-center text-light bg-dark">
        Copyright &copy; 2024 | AgriCrop<br>
        Sri Vasavi Engineering College , Tadepalligudem<br>
        Project Group: 18 | Semester: 8th<br>
        Designed & Developed by :<br>
        Durga , Surya , Jahera , Jagadeesh , Sri Ram , Dhileep
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>

    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement(
            {
              pageLanguage: "en",
              includedLanguages: "te",
              layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
              autoDisplay: false,
            },
            "google_translate_element"
          );
        }
      </script>
  
      <script
        type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
      ></script>
</body>

</html>
